body {
  background-color: lavenderblush;
  text-align: center;
}

body h1 {
  font-size: xx-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif

}
.Card {
  width: 200px;
  background-color: darkolivegreen;
  padding: 20px;
  border-radius: 2em;
  text-align: center;
}

.Card img {
  width: 100%;
  border-radius: 1em;
}

.Card h2, h3 {
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.cardDeck {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
}

.cardRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
}

.Button {
  width: 50%;
  background-color: lightgreen;
  color: black;
  border-radius: 5em;
  text-align: center;
  display: inline-block;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 2px;
}